<header>
    <div class="rocket">
        <img src="logo-rocketseat.svg" alt="LOGO">
    </div>
    <div class="links">
        <a href="/">About</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Community</a>
        <a href="mailto:oi@rocketseat.com.br" target="_blank">Email</a>
        <a href="tel:+5547992078767">Phone</a>
    </div>
</header>