<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Meu CRUD em NodeJS</title>
</head>
<body>
  <h1>Deletar</h1>

  <% data.forEach(function(details) { %>
      <form action="/edit/<%=details._id %>" method= "POST">
        <input type="text" value="<%=details.nome %>" name="nome">        
        <input type="text" value="<%=details.sobrenome %>" name="sobrenome">
        <button><a href="/show/">Volvar</a></button>
        <button type="submit">Salvar</button>
        </form>
     <% })%> 

  </body>
  </html>
